html, body {
   margin: 0 25px;
   padding: 0;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

#cli-input {
   width: 500px;
}

#content li {
    margin-bottom: 25px;
}


div.blue_box {
    width: 500px;
    height: 250px;
    background-color: blue;
    margin-top: -18px;
}

div.red_box {
    width: 500px;
    height: 250px;
    background-color: red;
    margin-top: -18px;
}
