<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>App 15</title>

    <script src="/static/external/babylon.2.5.js"></script>
    <script src="/static/param.js"></script>
    <script src="/static/entry.js"></script>
    <script src="/static/interp.js"></script>
    <script src="/static/lex-basic.js"></script>
    <script src="/static/lex-js.js"></script>
    <script src="/static/lex-sequence.js"></script>
    <script src="/static/lex-dom.js"></script>
    <script src="/static/lex-ajax.js"></script>
    <script src="/static/lex-babylon.js"></script>
    <script src="/static/app15.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/app1.css">

</head>

<body id="body">
<h1>App 15: Height Map</h1>

<canvas id="app2-canvas"></canvas>

</body>
</html>
