<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>App 1</title>

    <script src="/static/external/babylon.2.5.js"></script>
    <script src="/static/param.js"></script>
    <script src="/static/entry.js"></script>
    <script src="/static/interp.js"></script>
    <script src="/static/lex-basic.js"></script>
    <script src="/static/lex-js.js"></script>
    <script src="/static/lex-sequence.js"></script>
    <script src="/static/lex-dom.js"></script>
    <script src="/static/lex-ajax.js"></script>
    <script src="/static/lex-babylon.js"></script>
    <script src="/static/app1.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/app1.css">

</head>

<body id="body">
<h1>App 1</h1>
<input id="cli-input" type="text" autofocus></input>

<ol reversed id="content">
   <li>Test</li>
</ol>


</body>
</html>
